.login-wrpper {
    height: 100vh;
    width: 100%;
    background-color: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    height: 500px;
    width: 60%;
    background-color: #eee;
    box-shadow: 5px 5px 10px #eee;
    display: flex;

}

.login-boxes {
    height: 500px;
    width: 50%;
    padding: 20px;
    /* background-color: red; */
}

.login-left {
    background-image: url('../../assets/invoice.jpg');

    background-size: cover;
    background-repeat: no-repeat;
}

.login-heading {
    font-size: 25px;
    /* text-align: center; */
}

.login-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    border-width: 1px;
}

.login-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-btn {
    border: none;
    background-color: royalblue;
    color: white;
    font-size: 15px;
}

.login-btn:hover {
    background-color: hotpink;
    transition: 0.5s;
    cursor: pointer;
}

.register-link {
    font-size: 18px;
    margin-top: 10px;
    text-decoration: none;
}

.image-preview {
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.no-invoice-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.no-invoice-wrapper p {
    font-size: 18px;
}

.no-invoice-wrapper button {
    border: none;
    padding: 10px;
    background-color: royalblue;
    color: white;
    cursor: pointer;
}